.containerGridFilmes{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 40px 10px;
}

.containerFilmes{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
}

#GridFilmes{
    display: grid;
    margin: 40px 5% 40px 5%;
    row-gap: 100px;
    column-gap: 15px;
    grid-template-columns: repeat(4, 8fr);
    justify-content: center;
    flex-direction: row;  
}

.images{
    width: 280px;
    height:150px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.images:hover{
    transform: scale(1.25);
}

